<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<!----Carrusel -->
<div class="container-fluid">
	<h1>!Servicio de envio¡</h1>
	<br>
	<br>
	<div class="row" style="align-items: center;">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><h3>Cotizador</h3></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><h3>Servicio</h3></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><h3>Remitente</h3></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><h3>Destinatario</h3></div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><h3>Pagar</h3></div>
	</div>
</div>
<!----Fin carrusel -->

<!----Lista -->
<div class="container-fluid">
	<div class="row" style="align-items: center;">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12"><%= link_to image_tag('logo-redpack-or.png', :class => '', :width=>'180',:alt => '') %></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4>Servicio Ecoexpress</h4>
			<h6>Entrega aproximada en 6 dias</h6></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4>Precio al publico</h4>
			<s><h6>$999.99MXN</h6></s>
			<strong><h6 style="color: green">Ahorra</strong> $999.99MXN</h6>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4>Seguro del envio</h4>
			<h6>$0.00MXN</h6>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-6"><h4>Precio EnvioClick PRO</h4>
		<strong><h6>$ 999.99MXN</h6></strong>
		</div>
	</div>

	<br>

	<div class="row" style="align-items: center;">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12"><%= link_to image_tag('logo-redpack-or.png', :class => '', :width=>'180',:alt => '') %></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4>Servicio Ecoexpress</h4>
			<h6>Entrega aproximada en 6 dias</h6></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4>Precio al publico</h4>
			<s><h6>$999.99MXN</h6></s>
			<strong><h6 style="color: green">Ahorra</strong> $999.99MXN</h6>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4>Seguro del envio</h4>
			<h6>$0.00MXN</h6>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-6"><h4>Precio EnvioClick PRO</h4>
		<strong><h6>$ 999.99MXN</h6></strong>
		</div>
	</div>

	<br>

	<div class="row" style="align-items: center;">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12"><%= link_to image_tag('logo-fedex-or.png', :class => '', :width=>'180',:alt => '') %></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4>Servicio Ecoexpress</h4>
			<h6>Entrega aproximada en 6 dias</h6></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4>Precio al publico</h4>
			<s><h6>$999.99MXN</h6></s>
			<strong><h6 style="color: green">Ahorra</strong> $999.99MXN</h6>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4>Seguro del envio</h4>
			<h6>$0.00MXN</h6>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-6"><h4>Precio EnvioClick PRO</h4>
		<strong><h6>$ 999.99MXN</h6></strong>
		</div>
	</div>
	<br>

	<div class="row" style="align-items: center;">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12"><%= link_to image_tag('logo-estafeta-or.png', :class => '', :width=>'180',:alt => '') %></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4>Servicio Ecoexpress</h4>
			<h6>Entrega aproximada en 6 dias</h6></div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4>Precio al publico</h4>
			<s><h6>$999.99MXN</h6></s>
			<strong><h6 style="color: green">Ahorra</strong> $999.99MXN</h6>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4>Seguro del envio</h4>
			<h6>$0.00MXN</h6>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-6"><h4>Precio EnvioClick PRO</h4>
		<strong><h6>$ 999.99MXN</h6></strong>
		</div>
	</div>

	<br>
	<br>
</div>
<div class="container-fluid">
	<div class="row" style="align-items: center;">
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
			<button type="submit" class="btn1">Volver a cotizar</button>
		</div>
		<div class="col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
			<button type="submit" class="btn2">Guardar</button>
		</div>
		<div class="col-lg-3"></div>
	</div>
</div>

<!----Fin lista -->
<style>
h1,h3,h6{
	color: white;
	text-align: center;
}
h4{
	color: orange;
	text-align: center;	
}
.btn1{
	color: white;
	margin: 15px;
	background-color: #223740;
	border-radius: 19px;
	width: 150px;
	height: 70px;
}
.btn2{
	color: white;
	margin: 15px;
	background-color: orange;
	border-radius: 19px;
	width: 150px;
	height: 70px;	
}
</style>


<script>
window.onload = function () {


		elemH = document.querySelectorAll('h3');

		for (var i = 0; i < elemH.length; i++) {
			elemH[i].onmouseover = function () {return this.style.color = "orange";}
			elemH[i].onmouseout = function() {return this.style.color = "white";} 
		}

		for (var i = 0; i < elemP.length; i++) {
			elemP[i].onmouseover = function() {return this.style.backgroundColor = "yellow";}
			elemP[i].onmouseout = function(){return this.style.backgroundColor = "transparent"};
		}
		
	}
</script>
