
<div class="espacio"></div>
<!-- CARRUSEL -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style> 
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  
  </style>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
    	<p class="p">TRABAJAMOS SOLO CON LOS MEJORES</p>
      <%= link_to image_tag('paqueteria final.jpg', :class => 'img-car',:alt => 'Mostrar detalle de prospecto') %> 
    </div>
    <div class="carousel-item">
    	<p class="p">ATENCION PERSONALIZADA</p>
      <%= link_to image_tag('atencion a clientes.jpg', :class => 'img-car',:alt => 'Mostrar detalle de prospecto') %> 
    </div>
    <div class="carousel-item">
      <%= link_to image_tag('paqueteria final.jpg', :class => 'img-car',:alt => 'Mostrar detalle de prospecto') %> 
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


