	<div class="container-full">
		<div class="color img-responsive" >
			<div class="eq"><p class="titulo font-weight-bold">Cotiza con un Clic!</p>
			</div>
			<div class="container">
				<div class="row ">
					<div class="col-lg-4 col-md-6 col-xs-12 h">
						<div class="input-group mb-3">
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="inputGroup-sizing-default">Origen</span>
  							</div>
  							<input type="text" placeholder="Direccion de Origen" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  							<span class="map in"><button type="button" class="btn-icon" data-toggle="modal" data-target="#exampleModalCenter">
							</button></span>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-xs-12 h">
						<div class="input-group mb-3">
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="inputGroup-sizing-default">Destino</span>
  							</div>
  							<input type="text" placeholder="Direccion de destino" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  							<span class="map in"><button type="button" class="btn-icon" data-toggle="modal" data-target="#exampleModalCenter">
							</button></span>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-xs-12 h">
						<div class="input-group mb-3">
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="inputGroup-sizing-default">Producto</span>
		  							<button type="button" class="btn btn-secondary btn-produ" data-container="body" data-toggle="popover" data-placement="bottom" data-content="
										<div class='col-xs-2'>
											<!-- ROW 1 -->
											<div class='input-group mb-3'>
										 <div class='input-group-prepend'>
										  <span class='input-group-text' id='inputGroup-sizing-default'>cm</span>
										</div>
										<input type='number' placeholder='Largo' class='form-control' aria-label='Default' aria-describedby='inputGroup-sizing-default'>
										 </div>

										 <!-- ROW 2 -->
										<div class='input-group mb-3'>
										 <div class='input-group-prepend'>
										  <span class='input-group-text' id='inputGroup-sizing-default'>cm</span>
										</div>
										<input type='number' placeholder='Alto' class='form-control' aria-label='Default' aria-describedby='inputGroup-sizing-default'>
										 </div>

										 <!-- ROW 3 -->
										 <div class='input-group mb-3'>
										 <div class='input-group-prepend'>
										  <span class='input-group-text' id='inputGroup-sizing-default'>cm</span>
										</div>
										<input type='number' placeholder='Ancho' class='form-control' aria-label='Default' aria-describedby='inputGroup-sizing-default'>
										 </div>

										 <!-- ROW 3 -->
										 <div class='input-group mb-3'>
										 <div class='input-group-prepend'>
										  <span class='input-group-text' id='inputGroup-sizing-default'>KG</span>
										</div>
										<input type='number' placeholder='Peso' class='form-control' aria-label='Default' aria-describedby='inputGroup-sizing-default'>
										 </div>

										 <!-- END -->
										</div>
		  							">Paquete
									</button>
									<button type="button" class="btn btn-secondary btn-produ" data-container="body" data-toggle="popover" data-placement="bottom" data-content="
										<div class='col-xs-3'>
										<div class='input-group mb-3'>
										 <div class='input-group-prepend'>
										  <span class='input-group-text' id='inputGroup-sizing-default'>KG</span>
										</div>
										<input type='number' placeholder='Peso' class='form-control' aria-label='Default' aria-describedby='inputGroup-sizing-default'>
										 </div>
										</div>
									">Documento
									</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="eq"><button type="button" class="btn btn-primary btn-sm col-xs-12">Cotizar</button>
				</div>
			</div>
		<!-- 	<div class="eq"><button type="button" class="btn btn-primary btn-sm col-xs-12">Cotizar</button> -->
			</div>
		</div>
	</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Choose Your Adress</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14817.35223019791!2d-102.30361058022459!3d21.805865550000004!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1532473134494"  frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Choose</button>
      </div>
    </div>
  </div>
</div>



<div class="espacio"></div>
<!-- CARRUSEL -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style> 
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      
  }
  </style>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
    	<p class="p">TRABAJAMOS SOLO CON LOS MEJORES</p>
      <%= link_to image_tag('paqueteria final.jpg', :class => 'img-car',:alt => 'Mostrar detalle de prospecto') %> 
    </div>
    <div class="carousel-item">
    	<p class="p">ATENCION PERSONALIZADA</p>
      <%= link_to image_tag('atencion a clientes.jpg', :class => 'img-car',:alt => 'Mostrar detalle de prospecto') %> 
    </div>
    <div class="carousel-item">
      <%= link_to image_tag('paqueteria final.jpg', :class => 'img-car',:alt => 'Mostrar detalle de prospecto') %> 
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>





<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({ html : true });
});
</script>


