<!DOCTYPE html>
<html>
<head>
	<title>Cursos de holaaa</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 

<div class="jumbotron">
	<div class="container jum img-responsive">
		<h1 class="display-4">Cotiza con un clic</h1>
	</div>
</div>

</body>
</html>

