<!DOCTYPE html>
<html>
<head>
	<title>Cursos de holaaa</title>
	<link rel="stylesheet" type="text/css" href=css/bootstrap.css>
</head>
 

	<div class="container-full">
		<div class="color img-responsive" >
			<p>HOL22A</p>
		</div>
	</div>

</body>
</html>

