
	<div class="container-full">
		<div class="color img-responsive" >
				<div class="eq"><p class="titulo font-weight-bold">Cotiza con un Clic!</p>
				</div>
			<div class="container">
				<div class="row ">
					<div class="col-lg-4 col-md-4 col-xs-12 h">
						<div class="input-group mb-3">
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="inputGroup-sizing-default">Origen</span>
  							</div>
  							<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">		
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-xs-12 h">
						<div class="input-group mb-3">
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="inputGroup-sizing-default">Destino</span>
  							</div>
  							<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-xs-12 h">
						<div class="input-group mb-3">
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="inputGroup-sizing-default">Producto</span>
  							</div>
  							<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>
				</div>
				<div class="row2">
					<div class="col-lg btn-send">
						<span class="input-group-text enviar" id="inputGroup-sizing-default">Enviar</span>
					</div>
				</div>
			</div>

		</div>
	</div>

x

