<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Cursos de holaaa</title>
	<link rel="stylesheet" type="text/css" href=css/bootstrap.css>
</head>
 
	<div class="container-full">
		<div class="color img-responsive" >

		</div>
	</div>

</body>
</html>

