<!DOCTYPE html>
<html>
<head>
	<title>Marketful</title>
</head>
<body>
	<div id="home">
		<center>
			<section id="tl"><p>MarketFul</p></section>
			<section id="tl2"><p>Home Page</p></section>
		</center>
	</div>
</body>
</html>