	


	<div class="container-full">
		<div class="color img-responsive" >
			<div class="eq"><p class="titulo font-weight-bold">Cotiza con un Clic!</p>
			</div>
			<div class="container">
				<div class="row ">
					<div class="col-lg-4 col-md-6 col-xs-12 h">
						<div class="input-group mb-3">
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="inputGroup-sizing-default">Origen</span>
  							</div>
  							<input type="text" placeholder="Direccion de Origen" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="dir1">
  							<span class="map in"><button type="button" class="btn-icon" data-toggle="modal" data-target="#exampleModalCenter" onclick="map1()">
							</button></span>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-xs-12 h">
						<div class="input-group mb-3">
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="inputGroup-sizing-default">Destino</span>
  							</div>
  							<input type="text" placeholder="Direccion de destino" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="dir2">
  							<span class="map in"><button type="button" class="btn-icon" data-toggle="modal" data-target="#exampleModalCenter" onclick="map2()">
							</button></span>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-6 col-xs-12 h">
						<div class="input-group mb-3">
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="inputGroup-sizing-default">Producto</span>
		  							<button type="button" class="btn btn-secondary btn-produ" data-container="body" data-toggle="popover" data-placement="bottom" data-content="
										<div class='col-xs-2'>
											<!-- ROW 1 -->
											<div class='input-group mb-3'>
										 <div class='input-group-prepend'>
										  <span class='input-group-text' id='inputGroup-sizing-default'>cm</span>
										</div>
										<input type='number' placeholder='Largo' class='form-control' aria-label='Default' aria-describedby='inputGroup-sizing-default'>
										 </div>

										 <!-- ROW 2 -->
										<div class='input-group mb-3'>
										 <div class='input-group-prepend'>
										  <span class='input-group-text' id='inputGroup-sizing-default'>cm</span>
										</div>
										<input type='number' placeholder='Alto' class='form-control' aria-label='Default' aria-describedby='inputGroup-sizing-default'>
										 </div>

										 <!-- ROW 3 -->
										 <div class='input-group mb-3'>
										 <div class='input-group-prepend'>
										  <span class='input-group-text' id='inputGroup-sizing-default'>cm</span>
										</div>
										<input type='number' placeholder='Ancho' class='form-control' aria-label='Default' aria-describedby='inputGroup-sizing-default'>
										 </div>

										 <!-- ROW 3 -->
										 <div class='input-group mb-3'>
										 <div class='input-group-prepend'>
										  <span class='input-group-text' id='inputGroup-sizing-default'>KG</span>
										</div>
										<input type='number' placeholder='Peso' class='form-control' aria-label='Default' aria-describedby='inputGroup-sizing-default'>
										 </div>

										 <!-- END -->
										</div>
		  							">Paquete
									</button>
									<button type="button" class="btn btn-secondary btn-produ" data-container="body" data-toggle="popover" data-placement="bottom" data-content="
										<div class='col-xs-3'>
										<div class='input-group mb-3'>
										 <div class='input-group-prepend'>
										  <span class='input-group-text' id='inputGroup-sizing-default'>KG</span>
										</div>
										<input type='number' placeholder='Peso' class='form-control' aria-label='Default' aria-describedby='inputGroup-sizing-default'>
										 </div>
										</div>
									">Documento
									</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="eq"><button type="button" class="btn btn-primary btn-sm col-xs-12">Cotizar</button>
				</div>
			</div>
		<!-- 	<div class="eq"><button type="button" class="btn btn-primary btn-sm col-xs-12">Cotizar</button> -->
			</div>
		</div>
	</div>

<!-- MODAL DE MAPAS -->




<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="modal-size" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Choose Your Adress</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        
        <section id="texto">
      <input id="address" class="form-control" type="textbox" size="38" maxlength="80" value="" placeholder="Dirección o Lat, Lng" />
      <input type="button" class="navi btn btn-light" value="Localizar" onclick="codeAddress()" id="btn-bus">
      <br>
      <!--nos devuelve la direcion completa-->
      Dirección completa:<br><span style="color:blue;" id="direccion"></span>
      
    </section>
        <div id="mapa">
         </div>
          <!-- END MAPA -->
        
     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="closemodal" type="button" class="btn btn-primary" onclick="generate()">Choose</button>
      </div>
    </div>
  </div>
</div>


<!-- END MODAL DE MAPAS -->


<!-- HIDDEN -->

<input type="text" name="" id="inpt" hidden="true" value="">

<!--  -->


<div class="espacio"></div>
<!-- CARRUSEL -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style> 
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      
  }
  </style>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
    	<p class="p">TRABAJAMOS SOLO CON LOS MEJORES</p>
      <%= link_to image_tag('paqueteria final.jpg', :class => 'img-car',:alt => 'Mostrar detalle de prospecto') %> 
    </div>
    <div class="carousel-item">
    	<p class="p">ATENCION PERSONALIZADA</p>
      <%= link_to image_tag('atencion a clientes.jpg', :class => 'img-car',:alt => 'Mostrar detalle de prospecto') %> 
    </div>
    <div class="carousel-item">
      <%= link_to image_tag('paqueteria final.jpg', :class => 'img-car',:alt => 'Mostrar detalle de prospecto') %> 
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({ html : true });
});


</script>


<script>
  
  function map1(){
    document.getElementById("inpt").value="dir1";
  };

  function map2(){
     document.getElementById("inpt").value="dir2";
  };


</script>




<script type="text/javascript">
//<![CDATA[
var map, geocoder;
window.onload = function () {
                                                                 <!--latitud y longitud que podemos cambiar una vez obtenidas-->
  var latlng = new google.maps.LatLng(40.323892 , -3.852782 );
    <!--podemos aumentar o disminuir el zoom del mapa a mostrar (zoom: 15)-->
  var mapOptions = {
    zoom: 15,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('mapa'), mapOptions);
  // llama a la funcion
  geocoder = new google.maps.Geocoder();
};


 
function codeAddress() {
  var address = document.getElementById('address').value;
  // Función completa de Geocoding
  geocoder.geocode({
    'address': address
// 'latLng': latlng si lo que queremos ejecutar en geocodificación inversa
  }, function (results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      // document.getElementById('x').innerHTML = results[0].geometry.location.lat().toFixed(6);
      // document.getElementById('y').innerHTML = results[0].geometry.location.lng().toFixed(6);
      map.setCenter(results[0].geometry.location);
      document.getElementById('direccion').innerHTML = results[0].formatted_address;
      document.getElementById('dir1').innerHTML = results[0].formatted_address;
      var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location
      });
	  //podemos personalisar el toltip aqui
      infowindow = new google.maps.InfoWindow({
        content: '<h4></h4>'+results[0].formatted_address + '<br> Latitud: ' + results[0].geometry.location.lat().toFixed(6) + '<br> Longitud: ' + results[0].geometry.location.lng().toFixed(6)
      });
      infowindow.open(map, marker)
    }
// Se detallan los diferentes tipos de error
else {
      alert('Geocode no tuvo éxito por la siguiente razón: ' + status)
    }
  })
};

//]]>
</script>

<script>

  function generate(){

     var address = document.getElementById('address').value;
  // Función completa de Geocoding
  geocoder.geocode({
    'address': address
// 'latLng': latlng si lo que queremos ejecutar en geocodificación inversa
  }, function (results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      // document.getElementById('x').innerHTML = results[0].geometry.location.lat().toFixed(6);
      // document.getElementById('y').innerHTML = results[0].geometry.location.lng().toFixed(6);
      map.setCenter(results[0].geometry.location);
      document.getElementById('direccion').innerHTML = results[0].formatted_address;
      var id=document.getElementById("inpt").value;
      document.getElementById(id).value=results[0].formatted_address;
      $('#closemodal').click(function() {
      $('#exampleModalCenter').modal('hide');
      });
    //   var marker = new google.maps.Marker({
    //     map: map,
    //     position: results[0].geometry.location
    //   });
    // //podemos personalisar el toltip aqui
    //   infowindow = new google.maps.InfoWindow({
    //     content: '<h4></h4>'+results[0].formatted_address + '<br> Latitud: ' + results[0].geometry.location.lat().toFixed(6) + '<br> Longitud: ' + results[0].geometry.location.lng().toFixed(6)
    //   });
    //   infowindow.open(map, marker)
    }
// Se detallan los diferentes tipos de error
else {
      alert('Selecciona una direccion valida' + status)
    }
  })
   
  };

</script>

