//carrousel
.img-car {
	width: 100%;
	height: 400px;
	max-height: 500px;
}
.p{
	position: absolute;
	text-align: center;
	align-items: center;
    top: 55%;
    left: 5%;
    right: 80%;
    font-size: 300%;
    font-weight: 900;
    color:#5801AB;
}
.espacio{
	margin-top: 50px;
}
