//carrousel
.hola {
	width: 100%;
	height: 400px;
	max-height: 500px;
}
.p{
	position: absolute;
	align-items: center;
    top: 45%;
    left: 20%;
    right: 20%;
    color:red;
    font-size: 50px;
    font-weight: 900;
    color:#680AC1;

}
.espacio{
	margin-top: 50px;
}